<!DOCTYPE html>
<html lang="en">

head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  meta(name="description" content="")
  meta(name="author" content="")
  title=titre
  link(href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css")
  link(href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet")
  link(href="css/sb-admin.css" rel="stylesheet")
  script(type='text/javascript' src='js/main.js')
  script(type='text/javascript' src='js/record.js')
body(id="page-top")
  include partial/navBar.pug
  div(id="wrapper")
    include partial/sideBar.pug
    div(id="content-wrapper")
      div(class="container-fluid")
        ol(class="breadcrumb")
          li(class="breadcrumb-item")
            a(href="/accueil") Accueil
          li(class="breadcrumb-item active") enregistrement     
        h1(style="color:white") Enregistrement:
        div(class="row")
          div(class="col-md-2 col-md-offset-5")
            button(id="record" class="btn btn-danger" disabled) Enregistrer
            button(id="stop" class="btn btn-secondary" disabled) Stop
            button(id="replay" class="btn btn-sucess") replay
            audio(id="audio" src="")
        div(class="row")
          div(class="col-md-2 col-md-offset-5")
            button.btn(type='submit' class="btn-primary") Envoyer
      include partial/footer.pug
  a(class="scroll-to-top rounded" href="#page-top")
    i(class="fas fa-angle-up")  
  script(src="vendor/jquery/jquery.min.js")
  script(src="vendor/bootstrap/js/bootstrap.bundle.min.js")
  script(src="vendor/jquery-easing/jquery.easing.min.js")
  script(src="js/sb-admin.min.js")


</html>