doctype html
html(lang='en')
  head(<meta='', charset='utf-8')
    script(type='text/javascript' src='js/axios.min.js')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title SB Admin - Register
    link(href='vendor/fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
    link(href='css/sb-admin.css', rel='stylesheet')
  body.bg-dark
    .container
      .card.card-register.mx-auto.mt-5
        .card-header S'enregistrer
        .card-body
          form
            .form-group
              .form-row
                .col-md-6
                  .form-label-group
                    input#firstName.form-control(type='text', placeholder='First name', autofocus='autofocus')
                    label(for='firstName') Prenom
                .col-md-6
                  .form-label-group
                    input#lastName.form-control(type='text', placeholder='Last name')
                    label(for='lastName') Nom
            .form-group
              .form-label-group
                .mx-auto(style="max-width:15%")
                  button.btn.btn-outline-primary.btn-lg(id="homme" onclick="return false;")
                    span(class="fa fa-male" id="homme")
                  button.btn.btn-outline-primary.btn-lg(id="femme" onclick="return false;")
                    span(class="fa fa-female" id="femme")
            a.btn.btn-primary.btn-block(id="postregister") Register
          .text-center
            a.d-block.small.mt-3(href='/login') Se connecter
            a.d-block.small(class="d-block small mt-3" href="/dataUsage") Pourquoi avons nous besoin de vous identifier

    script(src='js/register.js')
