body {
    font-family: sans-serif;
}

.lien {
    font-size: 0.7em;
}


nav a {
    top: 25%;
    height: 50px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    padding: 18px;

}

nav a:hover {

    background-color: rgb(124, 213, 252);
}


.titre {
    color: white;
    margin-top: 0px;
    font-size: 2.5em;
    margin-left: 0.5em;
}

.formulaire * {
    margin: 3%;
}

button {
    background-color: #3BBBF1;
    border-style: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    margin-left: auto;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.valid {
    background-color: rgb(70, 200, 70);
}

.invalid {
    background-color: rgb(200, 70, 70);
}

.valid:hover {
    background-color: rgb(0, 200, 0);
}

.invalid:hover {
    background-color: rgb(236, 13, 13);
}

button:hover {
    background-color: rgb(124, 213, 252)
}

.formulaire {
    color: white;
    width: 320px;
    height: 320px;
    margin: auto;
    background-color: rgb(209, 209, 209);
    margin-top: 30vh;
}



nav {

    position: absolute;
    background-color: #3BBBF1;
    top: 0%;
    left: 0%;
    height: 50px;
    width: 100%;

}

.infoUsers {
    text-align: right;
    position: absolute;
    right: 0px;
    top: 15px;
}

.infoBarre {
    font-size: 0.7em;
    margin-right: 1em;
    color: white;
}

.liens {
    text-align: left;
    position: absolute;
    top: 15px;
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}



@media only screen and (max-width: 1080px) {
    .infoBarre {
        display: none;
    }

}