/*** ADMIN PANEL ***/
.ww-container {
  width: 100%;
  padding: 10px;
  text-align: center;

  &>span {
    display: inline-block;
    height: 40px;
    vertical-align: top;

    &.wakeword {
      font-size: 18px;
      color: #fff;
      background-color: $greyUnactive;
      padding: 0 10px;
      font-weight: 500;
      line-height: 40px;
      @include borderRadius(5px);
      width: 35%;
    }

  }

  .delete-btn {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    background-image: url('../img/delete-icon@2x.png');
    background-size: 40px 80px;
    background-repeat: no-repeat;
    background-position: 0 0;

    &:hover {
      background-position: 0 -40px;
    }
  }

  .wakeword-info {
    display: inline-block;
    height: 40px;
    width: 60px;
    margin: 0 4px;
    @include borderRadius(5px);
    text-align: center;
    vertical-align: top;

    &.status{
      width: auto;
    }

    &>span {
      display: inline-block;
      width: 100%;
      vertical-align: top;

      &.label {
        font-size: 13px;
        line-height: 15px;
      }

      &.number {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        margin-top: -5px;
      }

      &.listen {
        color: $greenChart;
      }

      &.record {
        color: $redChart;
      }
      &.status {
        font-weight: 700;
        color: $redChart
      }
    }
    button.toggle-ww-status {
      display: inline-block;
      padding: 5px;
      font-size: 14px;
      font-weight: 600;
      vertical-align: top;
      border: 1px solid;
      @include boxShadow(0,2px,2px,0,rgba(0,0,0,0.2));
      @include borderRadius(3px);
      margin: 5px;

      &:hover{
        @include cancelBoxShadow();
      }
      &.enabled{
        color: $greenChart;
        border-color: $greenChart;
      }
      &.disabled{
        color: $redChart;
        border-color: $redChart;
      }
    }
    .update-goal-container {
      display: inline-block;
      text-align: center;
      width: 100%;
      position: relative;

      button {
        border-bottom: 1px solid $greenChart;
        display: inline-block;
        @include cancelBoxShadow();

        &>span {
          display: inline-block;
          width: 100%;
          vertical-align: top;

          &.label {
            font-size: 13px;
            line-height: 15px;
          }
          &.number {
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
          }
        }
        &:hover{
          border-bottom: 2px solid $redChart;
          background: #f0f0f0;
        }
      }
      .update-goal.visible{
        text-align: left;
        position: absolute;
        top: 0px;
        height: 44px;
        width: 160px;
        z-index: 15;
        border: 1px solid $greenChart;
        @include boxShadow(0, 2px, 2px, 0, rgba(0,0,0,0.3));

        input {
          width: 80px;
          margin: 0;
          padding: 0 0 0 5px;
          height: 100%;
          line-height:40px;
          @include borderRadius(0px);
          @include cancelBoxShadow();
          vertical-align: top;
        }

        button {
          display: inline-block;
          width: 78px;
          margin: 0;
          padding: 0;
          height: 100%;
          line-height:40px;
          text-align: center;
          background: #fff;
          color: $greenChart;
          border: none;
          border-left: 1px solid $greenChart;
          /* Corrects font smoothing for webkit */
          -webkit-font-smoothing: inherit;
          -moz-osx-font-smoothing: inherit;
          /* Corrects inability to style clickable `input` types in iOS */
          -webkit-appearance: none;
          -moz-appearance: none;
          vertical-align: top;

          /* Remove excess padding and border in Firefox 4+ */
          &::-moz-focus-inner {
            border: 0;
            outline: none;
          }
          &:hover {
            background: $greenChart;
            color: #fff;
          }
        }
      }
    }
  }
}

/*** END ADMIN PANEL ***/