/*** FORM ***/
.field-container {
  margin: 10px 0;
  width: 100%;
  padding: 10px 0;

  &.btn {
    padding: 10px 0;
  }

  .field-label {
    text-align: left;
    min-height: 30px;
    margin-bottom: 5px;

    &>span {
      display: inline-block;
      vertical-align: top;
      width: auto;
    }
    i {
      font-size: 14px;
    }
    .icon {
      height: 30px;
      width: 30px;
      margin-right: 5px;
      background-image: url('../img/login-icons@2x.png');
      background-size: 30px 60px;
      background-repeat: no-repeat;

      &.user {
        background-position: 0 0;
      }

      &.pswd {
        background-position: 0 -30px;
      }
    }

    .label {
      height: 30px;
      font-weight: 400;
      margin-right: 10px;
    }

    .required {
      font-size: 18px;
      font-weight: 400;
      color: $redChart;
      padding-right: 3px;
    }
  }
}

.input {
  display: inline-block;
  width: 100%;
  max-width: 460px;
  padding: 5px 10px;
  @include boxShadow(0px, 2px, 6px, 2px, rgba(0, 0, 0, 0.2));
  @include borderRadius(5px);
  border: none;
  background-color: #fff;
  font-weight: 300;
  color: $greyText;

  &.error {
    border: 1px solid $redChart
  }

  &.valid {
    border: 1px solid $greenChart
  }
}

.error-field {
  display: inline-block;
  width: 100%;
  font-size: 13px;
  font-style: italic;
  font-weight: 500;
  color: $redChart;
  margin: 0;
  padding: 5px 0;
}

.select {
  display: inline-block;
  max-width: 260px;
  min-width: 120px;
  background-color: #fff;
  border: none;
  @include boxShadow(0px, 2px, 6px, 2px, rgba(0, 0, 0, 0.2));
  @include borderRadius(5px);
  font-weight: 300;
  padding: 5px;
  color: $greyText;

  &.error {
    border: 1px solid $redChart
  }

  &.valid {
    border: 1px solid $greenChart
  }

  &:hover {
    cursor: pointer;
  }
}

.micro-type-container {
  display: inline-block;
  height: auto;
  width: 100%;
  text-align: center;

  .micro-type-item {
    margin: 0 5px;
    display: inline-block;
    height: 110px;
    width: 80px;
    vertical-align: top;
    cursor: pointer;
    text-align: center;

    &>span {
      display: inline-block;
      vertical-align: top;
    }

    .icon {
      width: 80px;
      height: 80px;
      background-image: url('../img/micro-type@2x.png');
      background-repeat: no-repeat;
      background-size: 160px 320px;

      &.default {
        background-position: 0 0;
      }

      &.casque {
        background-position: 0 -80px;
      }

      &.pied {
        background-position: 0 -160px;
      }

      &.smartphone {
        background-position: 0 -240px;
      }
    }

    .label {
      width: 100%;
      font-size: 11px;
      line-height: 13px;
      height: 30px;
      text-align: center;
      color: $greyUnactive;
    }

    &.active,
    &:hover {
      .icon {
        &.default {
          background-position: -80px 0;
        }

        &.casque {
          background-position: -80px -80px;
        }

        &.pied {
          background-position: -80px -160px;
        }

        &.smartphone {
          background-position: -80px -240px;
        }
      }

      .label {
        color: $greenChart;
      }
    }
  }
}

.status-field {
  display: inline-block;
  width: 100%;
  margin: 5px 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 5px 0;
  font-size: 14px;
  font-weight: 500;
  text-align: center;

  &.success {
    color: $greenChart;
    border-color: $greenChart;
  }

  &.error {
    color: $redChart;
    border-color: $redChart;
  }
}

/*** END FORM ***/

@media screen and(max-width: 600px){
  .micro-type-container {
    .micro-type-item {
      margin: 0 ;
      height: 110px;
      width: 50%;
    }
  }
}