/*** MODAL ***/
.modal {
  &.visible {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 15;
    overflow: auto;
  }

  .modal-container {
    width: 50%;
    max-width: 520px;
    position: relative;
    z-index: 10;
    margin: 5% auto;
    background-color: #fff;
    height: auto;
    @include boxShadow(4px, 4px, 8px, 0px, rgba(0, 0, 0, .3));
    @include borderRadius(10px);
    padding: 20px;

    &.large {
      max-width: 100% !important;
      width: 90% !important;

    }
  }
}

.modal-header {
  padding: 20px 0;

  h3 {
    display: inline-block;
    width: 100%;
    padding: 0;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
  }

  .close-modal,
  .back-login-modal {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    background-size: 50px 100px;
    background-repeat: no-repeat;
    background-position: 0 0;

    &:hover {
      background-position: 0 -50px;
    }
  }

  .close-modal {
    left: 100%;
    margin-left: -60px;
    background-image: url('../img/close-modal@2x.png');
  }

  .back-login-modal {
    left: 10px;
    background-image: url('../img/back@2x.png');
  }
}

.modal-body {
  .content {
    font-size: 16px;
    line-height: 22px;

    strong {
      font-weight: 600;
      color: $redChart;
    }
  }
  .warning {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    font-style: italic;
    color: $warning;
  }
}

.account-success {
  text-align: center;

  .account-success-title {
    height: 30px;

    &>span {
      display: inline-block;
      vertical-align: top;
    }

    .icon {
      height: 30px;
      background-image: url('../img/notif-icons@2x.png');
      background-repeat: no-repeat;
      background-size: 30px 90px;
      background-position: 0 0;
    }

    .label {
      font-size: 22px;
      font-weight: 600;
      padding: 0 10px;
      line-height: 30px;
      color: $greenChart;
    }
  }

  .account-success-content {
    padding: 20px 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
  }
}

/*** END MODAL ***/
@media screen and (max-width: 960px) {
  .modal {
    font-size: 14px;

    .modal-container {
      width: 90%;
    }
  }

  .modal-header {
    h3 {
      font-size: 18px;
      margin: 0;
    }
  }

  .field-container .field-label .label {
    font-size: 14px;
  }
}