@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
/* rgba(198,30,66,1) */
/* rgba(49,198,0,1) */
/* Safari and Chrome */
@-webkit-keyframes blockAppear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes blockAppear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Safari and Chrome */
@-webkit-keyframes greenToWhite {
  from {
    background-color: #238200; }
  to {
    background-color: #fff; } }

@keyframes greenToWhite {
  from {
    background-color: #238200; }
  to {
    background-color: #fff; } }

@-webkit-keyframes whiteToGreen {
  from {
    background-color: #fff; }
  to {
    background-color: #238200; } }

@keyframes whiteToGreen {
  from {
    background-color: #fff; }
  to {
    background-color: #238200; } }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

button {
  cursor: pointer;
  padding: 0;
  margin: 0; }

/* GLOBAL */
html {
  scroll-behavior: smooth; }

body {
  font-family: "Ubuntu", "Helvetica", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 22px;
  padding: 0;
  margin: 0;
  color: #333;
  background-color: #fcfcfc; }

#app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); }

#app-wrapper {
  overflow: hidden; }

.flex {
  display: flex; }
  .flex.col {
    flex-direction: column; }
  .flex.row {
    flex-direction: row; }

.flex1 {
  flex: 1; }

.flex2 {
  flex: 2; }

.flex3 {
  flex: 3; }

.flex4 {
  flex: 4; }

strong {
  font-weight: 600;
  color: #c61e42; }

button {
  font-family: "Ubuntu", "Helvetica", "Arial", "sans-serif";
  outline: none; }

.hidden {
  display: none !important; }

/* END GLOBAL */
/* LEFT PART - WAKEMEUP INFOS */
#wakemeup-infos {
  flex: 2;
  background-color: #111;
  padding: 20px 40px;
  overflow: auto; }
  #wakemeup-infos .logo-container {
    height: 80px;
    margin: 0; }
    #wakemeup-infos .logo-container img {
      display: inline-block;
      height: 100%;
      width: auto; }
      #wakemeup-infos .logo-container img.logo-linto-ai {
        height: 40px; }
  #wakemeup-infos h1 {
    display: inline-block;
    width: 100%;
    padding: 20px 0 40px 0;
    font-size: 32px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    font-weight: 700; }
  #wakemeup-infos p {
    color: #fff;
    font-size: 16px;
    font-weight: 24px;
    margin: 10px 0; }
  #wakemeup-infos .important {
    background-color: #fff;
    padding: 20px;
    -moz-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
    #wakemeup-infos .important h3 {
      display: inline-block;
      width: 100%;
      text-align: center;
      color: #c61e42;
      font-size: 18px;
      font-weight: 600;
      padding: 10px 0; }
  #wakemeup-infos ul li {
    display: inline-block;
    padding: 5px 5px 5px 20px;
    position: relative; }
    #wakemeup-infos ul li:before {
      content: '';
      display: inline-block;
      width: 5px;
      height: 5px;
      background-color: #c61e42;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      position: absolute;
      top: 15px;
      left: 5px; }
  #wakemeup-infos .record-instructions {
    border: 1px solid #c61e42;
    -moz-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    padding: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 10px 0; }
  #wakemeup-infos .btn-container {
    justify-content: center;
    align-items: center; }
    #wakemeup-infos .btn-container #userdata-btn {
      display: inline-block;
      padding: 10px 15px;
      border: 2px solid #fff;
      background-color: #111;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      position: relative; }
      #wakemeup-infos .btn-container #userdata-btn .btn-icon {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        display: inline-block;
        width: 25px;
        height: 25px;
        margin: 0 5px 0 0;
        vertical-align: top;
        mask-image: url("../img/svg/information-button.svg");
        -webkit-mask-image: url("../img/svg/information-button.svg");
        mask-size: cover;
        -webkit-mask-size: cover;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        background-color: #fff; }
      #wakemeup-infos .btn-container #userdata-btn .btn-label {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        display: inline-block;
        font-size: 16px;
        line-height: 25px;
        color: #fff;
        vertical-align: top; }
      #wakemeup-infos .btn-container #userdata-btn:hover {
        background-color: #fff;
        color: #111; }
        #wakemeup-infos .btn-container #userdata-btn:hover .btn-label {
          color: #111; }
        #wakemeup-infos .btn-container #userdata-btn:hover .btn-icon {
          background-color: #111; }
    #wakemeup-infos .btn-container .goto-recorder {
      display: none; }

.icon-record {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #fff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  background-image: url("../img/record-icon.svg");
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: top;
  margin: 0 5px;
  margin-top: -3px;
  border: 1px solid #ccc; }

/* END LEFT PART - WAKEMEUP INFOS */
/* RIGHT PART - USER INFOS */
#user-infos {
  margin-bottom: 40px; }

#user-infos-form {
  padding: 20px;
  border: 1px solid #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  background-color: #FFF;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  height: 100%;
  max-height: 660px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative; }
  #user-infos-form > div {
    padding: 10px 0; }
  #user-infos-form .toggle-user-infos {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid #1f3279;
    background-color: #fff;
    position: absolute;
    top: 20px;
    left: 100%;
    margin-left: -50px;
    z-index: 2;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px; }
    #user-infos-form .toggle-user-infos:after {
      content: '';
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      display: inline-block;
      width: 30px;
      height: 30px;
      position: absolute;
      top: -2px;
      left: -2px;
      mask-image: url("../img/svg/arrow-down.svg");
      -webkit-mask-image: url("../img/svg/arrow-down.svg");
      mask-size: cover;
      -webkit-mask-size: cover;
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;
      background-color: #1f3279;
      z-index: 3;
      transform: rotate(-90deg); }
    #user-infos-form .toggle-user-infos.closed:after {
      transform: rotate(-90deg); }
    #user-infos-form .toggle-user-infos.opened:after {
      transform: rotate(0deg); }
    #user-infos-form .toggle-user-infos:hover {
      border-color: #238200; }
      #user-infos-form .toggle-user-infos:hover:after {
        background-color: #238200; }
  #user-infos-form h2 {
    font-size: 22px;
    padding: 0 0 20px 0;
    color: #1f3279; }
  #user-infos-form .form-field {
    padding-left: 40px; }
  #user-infos-form .radio {
    padding: 5px 0;
    height: 20px; }
    #user-infos-form .radio .form__radio {
      vertical-align: top;
      margin: 4px 10px 0 0 !important;
      position: relative; }
      #user-infos-form .radio .form__radio:after {
        content: '';
        display: inline-block;
        width: 13px;
        height: 13px;
        background: #fff;
        position: absolute;
        top: -2px;
        left: -2px;
        z-index: 2;
        cursor: pointer;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border: 2px solid #111; }
      #user-infos-form .radio .form__radio:checked:after {
        border: 2px solid #238200; }
      #user-infos-form .radio .form__radio:checked:before {
        content: '';
        display: inline-block;
        width: 9px;
        height: 9px;
        background: #2da800;
        position: absolute;
        top: 2px;
        left: 2px;
        z-index: 3;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px; }
    #user-infos-form .radio .form__radio-label {
      vertical-align: top;
      line-height: 20px;
      font-size: 16px;
      padding-left: 5px;
      cursor: pointer; }
  #user-infos-form .form__label {
    display: inline-block;
    color: #1f3279;
    padding-bottom: 5px; }
    #user-infos-form .form__label.valid {
      color: #238200; }
    #user-infos-form .form__label.error {
      color: #c61e42; }
  #user-infos-form .form__select {
    display: inline-block;
    max-width: 260px;
    width: 100%;
    padding: 5px;
    margin: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 16px; }
    #user-infos-form .form__select option {
      font-size: 16px; }
  #user-infos-form .form__submit {
    display: inline-block;
    padding: 7px 15px;
    background-color: #fff;
    color: #238200;
    border: 1px solid #238200;
    font-size: 16px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    #user-infos-form .form__submit:hover {
      background-color: #238200;
      color: #fff;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
  #user-infos-form.closed {
    height: 30px; }

/* END RIGHT PART - USER INFOS */
/* RIGHT PART - WAKEMEUP RECODER*/
#recorder {
  background-image: url("../img/bg-player-red.jpg");
  padding: 40px;
  overflow: auto;
  flex: 3; }
  #recorder .recorder-container.visible {
    padding: 0;
    display: block;
    overflow: hidden; }

#recorder-ui {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #FFF;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  padding: 0;
  overflow: hidden;
  margin-bottom: 20px; }
  #recorder-ui.opened {
    height: 320px; }
    #recorder-ui.opened.recording {
      height: 480px; }
  #recorder-ui.closed {
    height: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  #recorder-ui .player-visualizer {
    width: 70%;
    margin: 20px auto; }
  #recorder-ui .recorder-wakeword {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 26px;
    padding: 40px 0; }
    #recorder-ui .recorder-wakeword strong {
      color: #c61e42;
      font-weight: 600; }

.recordBtn-container,
svg {
  width: 100%; }
  .recordBtn-container circle:hover,
  .recordBtn-container path:hover,
  svg circle:hover,
  svg path:hover {
    cursor: pointer; }
  .recordBtn-container text,
  svg text {
    font-size: 32px;
    fill: #444444; }
  .recordBtn-container text:hover,
  svg text:hover {
    cursor: default; }
  .recordBtn-container.notRecording #recordBtnGroup:hover #recordBtn-bg,
  svg.notRecording #recordBtnGroup:hover #recordBtn-bg {
    fill: #c61e42; }
  .recordBtn-container.notRecording #recordBtnGroup:hover .record-icon,
  svg.notRecording #recordBtnGroup:hover .record-icon {
    fill: #fff; }
  .recordBtn-container path,
  .recordBtn-container circle,
  svg path,
  svg circle {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transform-box: fill-box;
    transform-origin: center; }

#recordBtn-bg {
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3); }

#visualizer {
  width: 100%;
  max-width: 340px;
  padding: 0;
  height: 100px;
  margin: 0 auto;
  position: relative;
  background: rgba(255, 255, 255, 0.9);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3); }
  #visualizer #visualizer-top,
  #visualizer #visualizer-bot {
    height: 50px;
    position: relative;
    margin: 0 20px; }
  #visualizer .visualizer-bar {
    position: absolute;
    display: inline-block;
    width: 4px;
    margin: 0 1px; }
  #visualizer #visualizer-top {
    border-bottom: 1px solid #cecece; }
    #visualizer #visualizer-top .visualizer-bar {
      bottom: 0;
      background-image: linear-gradient(to bottom, #ffb0c7, #c61e42);
      -webkit-border-top-left-radius: 2px;
      -moz-border-radius-topleft: 2px;
      border-top-left-radius: 2px;
      -webkit-border-top-right-radius: 2px;
      -moz-border-radius-topright: 2px;
      border-top-right-radius: 2px;
      -webkit-border-bottom-right-radius: 0;
      -moz-border-radius-bottomright: 0;
      border-bottom-right-radius: 0;
      -webkit-border-bottom-left-radius: 0;
      -moz-border-radius-bottomleft: 0;
      border-bottom-left-radius: 0; }
  #visualizer #visualizer-bot .visualizer-bar {
    top: 0;
    background-image: linear-gradient(to bottom, #c61e42, #ffb0c7);
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-left-radius: 2px; }

.recorder-actions {
  justify-content: center;
  margin-bottom: 20px;
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.9);
  -moz-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2); }
  .recorder-actions .recorder-action-item {
    align-items: center;
    margin: 0 20px; }
  .recorder-actions .recorder-action-btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    -moz-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: none;
    position: relative; }
    .recorder-actions .recorder-action-btn:after {
      content: '';
      display: inline-block;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      background-color: #8faebf; }
    .recorder-actions .recorder-action-btn.play:after {
      mask-image: url("../img/svg/play.svg");
      -webkit-mask-image: url("../img/svg/play.svg");
      mask-size: cover;
      -webkit-mask-size: cover;
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat; }
    .recorder-actions .recorder-action-btn.play.playing {
      background-color: #1f3279; }
      .recorder-actions .recorder-action-btn.play.playing:after {
        background-color: #fff; }
    .recorder-actions .recorder-action-btn.reset:after {
      mask-image: url("../img/svg/refresh.svg");
      -webkit-mask-image: url("../img/svg/refresh.svg");
      mask-size: cover;
      -webkit-mask-size: cover;
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat; }
    .recorder-actions .recorder-action-btn.validate:after {
      mask-image: url("../img/svg/checked.svg");
      -webkit-mask-image: url("../img/svg/checked.svg");
      mask-size: cover;
      -webkit-mask-size: cover;
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat; }
    .recorder-actions .recorder-action-btn:hover {
      -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2); }
      .recorder-actions .recorder-action-btn:hover:after {
        background-color: #238200; }
  .recorder-actions .recorder-action-label {
    padding-top: 10px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #8faebf; }

/* NOTIFICATION */
#notification {
  margin-bottom: 20px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 20px;
  align-items: center;
  justify-content: center; }
  #notification .notif-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: red;
    margin-right: 10px;
    position: relative;
    background-color: #fff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px; }
    #notification .notif-icon:after {
      content: '';
      display: inline-block;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 0;
      left: 0px; }
    #notification .notif-icon.success {
      border: 2px solid #238200; }
      #notification .notif-icon.success:after {
        background-color: #238200;
        mask-image: url("../img/svg/checked.svg");
        -webkit-mask-image: url("../img/svg/checked.svg");
        mask-size: cover;
        -webkit-mask-size: cover;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat; }
    #notification .notif-icon.error {
      border: 2px solid #c61e42; }
      #notification .notif-icon.error:after {
        background-color: #c61e42;
        mask-image: url("../img/svg/close.svg");
        -webkit-mask-image: url("../img/svg/close.svg");
        mask-size: cover;
        -webkit-mask-size: cover;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat; }
  #notification .notif-label {
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    line-height: 30px;
    padding: 5px 0; }
    #notification .notif-label.success {
      color: #238200; }
    #notification .notif-label.error {
      color: #c61e42; }

/* END NOTIFICATION */
/* MODAL */
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.75);
  align-items: center;
  justify-content: center; }
  .modal-wrapper .modal {
    padding: 40px;
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    max-width: 1200px; }

.modal-header {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  height: 30px; }
  .modal-header h2.modal-title {
    font-size: 22px;
    color: #1f3279;
    line-height: 30px;
    font-weight: 600; }
  .modal-header .modal-close {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #c61e42;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -moz-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
    .modal-header .modal-close:after {
      content: "";
      display: inline-block;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 0;
      left: -1px;
      mask-image: url("../img/svg/close.svg");
      -webkit-mask-image: url("../img/svg/close.svg");
      mask-size: cover;
      -webkit-mask-size: cover;
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      background-color: #c61e42; }
    .modal-header .modal-close:hover {
      background-color: #c61e42; }
      .modal-header .modal-close:hover:after {
        background-color: #fff; }

.modal-body {
  padding: 20px 0;
  overflow: auto;
  max-height: 520px; }
  .modal-body p {
    font-size: 16px;
    font-family: "Ubuntu", "Helvetica", "Arial", "sans-serif";
    line-height: 22px; }
  .modal-body h3 {
    font-size: 22px;
    color: #1f3279;
    padding: 20px 0; }

/* END MODAL */
/* FOOTER */
#footer {
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  color: #fff;
  background-color: #222;
  text-align: center;
  justify-content: center;
  align-items: center; }
  #footer .footer-btn {
    display: inline-block;
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #fff;
    font-family: "Ubuntu", "Helvetica", "Arial", "sans-serif";
    text-decoration: underline;
    padding: 0 3px; }

/* END FOOTER */
/* RESPONSIVE */
@media screen and (max-width: 1280px) {
  #wakemeup-infos {
    flex: 1;
    /* logo */ }
    #wakemeup-infos .logo-container {
      height: 60px; }
    #wakemeup-infos h1 {
      font-size: 28px;
      line-height: 34px;
      padding: 20px 0; }
  #recorder {
    flex: 1; }
  .modal-wrapper .modal {
    max-width: 80%; } }

@media screen and (max-width: 1024px) {
  #app-wrapper {
    display: block !important;
    overflow: auto;
    scroll-behavior: smooth;
    height: auto; }
  #wakemeup-infos {
    padding-bottom: 40px; }
    #wakemeup-infos .btn-container .goto-recorder {
      display: inline-block;
      padding: 10px 15px;
      text-align: center;
      border: 2px solid #238200;
      background-color: #fff;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      position: relative;
      margin: 20px 0; }
      #wakemeup-infos .btn-container .goto-recorder .btn-icon {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        display: inline-block;
        width: 25px;
        height: 25px;
        margin: 0 5px 0 0;
        vertical-align: top;
        mask-image: url("../img/svg/mic.svg");
        -webkit-mask-image: url("../img/svg/mic.svg");
        mask-size: cover;
        -webkit-mask-size: cover;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        background-color: #238200; }
      #wakemeup-infos .btn-container .goto-recorder .btn-label {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        display: inline-block;
        font-size: 16px;
        line-height: 25px;
        color: #238200;
        vertical-align: top; }
      #wakemeup-infos .btn-container .goto-recorder:hover {
        background-color: #238200; }
        #wakemeup-infos .btn-container .goto-recorder:hover .btn-label {
          color: #fff; }
        #wakemeup-infos .btn-container .goto-recorder:hover .btn-icon {
          background-color: #fff; }
  .modal-wrapper .modal {
    padding: 20px; }
  .modal-body h3 {
    font-size: 18px; } }
