li(class="nav-item dropdown")
        a(class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
            i(class="fas fa-fw fa-folder")
            span Pages
        div(class="dropdown-menu" aria-labelledby="pagesDropdown")
            h6(class="dropdown-header") Login Screens:
            a(class="dropdown-item" href="/dataUsage") Vos données
            a(class="dropdown-item" href="/register") Register
            div(class="dropdown-divider")
            h6(class="dropdown-header") Other Pages:
            a(class="dropdown-item" href="/listen") Listen
            a(class="dropdown-item active" href="/record") Record
