ul(class="sidebar navbar-nav")
    li(class="nav-item")
        a(class="nav-link" href="/accueil")
            i(class="fas fa-fw fa-tachometer-alt")
            <span> Accueil </span>
    
    

    <li class="nav-item">
    <a class="nav-link" href="/record">
        <i class="fas fa-fw fa-microphone"></i>
        <span>Record</span></a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/listen">
        <i class="fas fa-fw fa-volume-up"></i>
        <span>Listen</span></a>
    </li>
