@charset "utf-8";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import "./custom-elements.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

/*** GLOBAL ***/
body {
  background-color: #fff;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0 !important;
  padding: 0 !important;
  color: $greyText;
}

#app {
  background: #fafafa;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.hidden {
  display: none !important;
}

.white-container{
  width: 100%;
  padding: 20px;
  @include boxShadow(0px, 2px, 6px, 2px, rgba(0, 0, 0, 0.2));
  @include borderRadius(5px);
  border: none;
  background-color: #fff;
  text-align: center;
}
h3{
  display: inline-block;
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  color: $greyText;
  margin: 40px 0 20px 0;
}
/*** END GLOBAL ***/

/*** HEADER ***/
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 5;
  padding: 5px 20px;
  background-color: #ffffff;
  @include boxShadow(0, 2px, 4px, 0px, rgba(0, 0, 0, .3));
  border-bottom: 1px solid $redChart;
}

.logo-container {
  text-align: left;
  height: 60px;
  position: relative;

  img {
    display: inline-block;
    height: 100%;
    width: auto;
    vertical-align: top;
  }
}

.user-panel {
  text-align: right;

  .button {
    margin-top: 15px;
  }
}

.user-menu {
  display: inline-block;
  position: relative;
  width: auto;
  padding: 0 15px;
  height: 100%;

  .toggle-user-menu {
    display: inline-block;
    height: 100%;
    width: auto;

    & > span {
      display: inline-block;
      height: 50px;
      vertical-align: top;
    }
    .label {
      font-size: 16px;
      font-weight: 500;
      color: $redChart;
      line-height: 50px;
    }

    .icon {
      width: 30px;
      margin-left: 5px;
      background-image: url('../img/user-arrow@2x.png');
      background-size: 30px 100px;
      background-repeat: no-repeat;
      background-position: 0 0 ;
    }

    &:hover{
      .label{
        text-decoration: underline
      }
    }
    &.closed{
      .icon{
        background-position: 0 -50px ;
      }
    }
  }

  .user-submenu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background: #fff;
    @include boxShadow(0px, 2px, 6px, 2px, rgba(0, 0, 0, 0.2));
    @include borderRadius(5px);
    text-align: center;
  }

  .user-submenu-link {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 10px 0;

    & > span {
      display: inline-block;
      vertical-align: top;
      height: 20px;
    }
    .label{
      line-height: 20px;
      font-size: 14px;
      font-weight: 500;
      &.user{
        color: $greenChart;
      }
      &.logout{
        color: $redChart; 
      }
    }
    .icon{
      width: 20px;
      background-image: url('../img/user-panel-icons@2x.png');
      background-size: 20px 40px;
      background-repeat: no-repeat;
      margin: 0 5px;

      &.user{
        background-position: 0 0;
      }
      &.logout{
        background-position: 0 -20px;
      }
    }

    &:hover{
      background: #f2f2f2;
      .label{
        text-decoration: underline;
      }

    }
  }
}

/*** END HEADER ***/

/*** PAGE CONTENT ***/
#page-content {
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 2;
  background: #fafafa;
  overflow: auto;
  width: 100%;
  height: calc(100% - 70px)
}

/* HOME - Highlight */
#highlight {
  margin: 40px 0;

  h2 {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: 100;
    font-size: 38px;
    padding: 20px 0;
    @include textShadow(1px, 1px, 2px, rgba(0, 0, 0, 0.2))
  }

  .talk {
    border-right: 1px solid #ccc;

    h2 {
      color: $redChart;
    }
  }

  .listen h2 {
    color: $greenChart;
  }

  .title-icon {
    height: 180px;
    width: 100%;
    text-align: center;

    img {
      display: inline-block;
      height: 100%;
      width: auto;
      vertical-align: top;
    }
  }

  .highlight-content {
    width: 75%;
    margin: 40px auto;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .highlight-action {
    margin: 20px 0;
    text-align: center;
  }
}

/* END HOME - Highlight */

/*** END PAGE CONTENT ***/