@charset "utf-8";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import "./roboto.scss";
@import "./custom-elements.scss";

@import "./components/global.scss";
@import "./components/header.scss";
@import "./components/homepage.scss";
@import "./components/record-listen.scss";
@import "./components/modal.scss";
@import "./components/footer.scss";
@import "./components/mentionslegales.scss";
@import "./components/audioMonitoring.scss";
@import "./components/cookieNotify.scss";

/*** USER PANEL ***/
#user-panel {
  padding-bottom: 40px;
}

.col.user-stats:first-child {
  border-right: 1px solid #ccc;
}

.user-stats {
  .stats-container {
    height: 60px;
    text-align: center;
    margin-bottom: 40px;

    &>span {
      display: inline-block;
      height: 60px;
      vertical-align: top;
    }

    .number {
      font-size: 34px;
      font-weight: 500;
      line-height: 60px;

      &.talk {
        color: $redChart;
      }

      &.listen {
        color: $greenChart;
      }
    }

    .icon {
      width: 60px;
      margin-right: 10px;
      background-image: url('../img/stats-icons@2x.png');
      background-size: 60px 120px;
      background-repeat: no-repeat;

      &.talk {
        background-position: 0 0;
      }

      &.listen {
        background-position: 0 -60px;
      }
    }
  }
}
/*** END USER PANEL ***/


/*** ADMIN PANEL ***/
.ww-container {
  width: 100%;
  padding: 10px;
  text-align: center;

  &>span {
    display: inline-block;
    height: 40px;
    vertical-align: top;

    &.wakeword {
      font-size: 18px;
      color: #fff;
      background-color: $greyUnactive;
      padding: 0 10px;
      font-weight: 500;
      line-height: 40px;
      @include borderRadius(5px);
      width: 50%;
    }

  }

  .delete-btn {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    background-image: url('../img/delete-icon@2x.png');
    background-size: 40px 80px;
    background-repeat: no-repeat;
    background-position: 0 0;

    &:hover {
      background-position: 0 -40px;
    }
  }

  .wakeword-info {
    display: inline-block;
    height: 40px;
    width: 60px;
    margin: 0 4px;
    @include borderRadius(5px);
    text-align: center;

    &>span {
      display: inline-block;
      width: 100%;
      vertical-align: top;

      &.label {
        font-size: 13px;
        line-height: 15px;
      }

      &.number {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        margin-top: -5px;
      }

      &.listen {
        color: $greenChart;
      }

      &.record {
        color: $redChart;
      }
    }

  }
}

/*** END ADMIN PANEL ***/




/*** MONITORING ***/
.monitoring-datas {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.monitoring-appstats {
  &>span {
    display: inline-block;
    vertical-align: top;

    &.label {
      font-size: 18px;
      font-weight: 500;
      width: 100%;
      text-align: center;
      padding: 10px 0;
    }

    &.icon {
      width: 60px;
      height: 60px;
      background-image: url('../img/stats-icons@2x.png');
      background-size: 60px 120px;
      background-repeat: no-repeat;
    }

    &.number {
      width: 100%;
      text-align: center;
      font-size: 32px;
      font-weight: 600;
      padding: 10px 0;
    }
  }

  &.record {

    .label,
    .number {
      color: $redChart
    }

    .icon {
      background-position: 0 0;
    }

  }

  &.listen {

    .label,
    .number {
      color: $greenChart;
    }

    .icon {
      background-position: 0 -60px;
    }
  }
}

/*** END MONITORING ***/

/*** LOADING ***/
.loading {
  width: 100%;
  height: 500px;
  margin: 40px auto;
  text-align: center;

  img {
    display: inline-block;
    height: 180px;
    width: 300px;
  }

  .label {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding: 0;
  }
}
/***  END LOADING ***/



/*** FORM ***/
.field-container {
  margin: 10px 0;
  width: 100%;
  padding: 10px 0;

  &.btn {
    padding: 10px 0;
  }

  .field-label {
    text-align: left;
    min-height: 30px;
    margin-bottom: 5px;

    &>span {
      display: inline-block;
      vertical-align: top;
      width: auto;
    }
    i {
      font-size: 14px;
    }
    .icon {
      height: 30px;
      width: 30px;
      margin-right: 5px;
      background-image: url('../img/login-icons@2x.png');
      background-size: 30px 60px;
      background-repeat: no-repeat;

      &.user {
        background-position: 0 0;
      }

      &.pswd {
        background-position: 0 -30px;
      }
    }

    .label {
      height: 30px;
      font-weight: 400;
      margin-right: 10px;
    }

    .required {
      font-size: 18px;
      font-weight: 400;
      color: $redChart;
      padding-right: 3px;
    }
  }
}

.input {
  display: inline-block;
  width: 100%;
  max-width: 460px;
  padding: 5px 10px;
  @include boxShadow(0px, 2px, 6px, 2px, rgba(0, 0, 0, 0.2));
  @include borderRadius(5px);
  border: none;
  background-color: #fff;
  font-weight: 300;
  color: $greyText;

  &.error {
    border: 1px solid $redChart
  }

  &.valid {
    border: 1px solid $greenChart
  }
}

.error-field {
  display: inline-block;
  width: 100%;
  font-size: 13px;
  font-style: italic;
  font-weight: 500;
  color: $redChart;
  margin: 0;
  padding: 5px 0;
}

.select {
  display: inline-block;
  max-width: 260px;
  min-width: 120px;
  background-color: #fff;
  border: none;
  @include boxShadow(0px, 2px, 6px, 2px, rgba(0, 0, 0, 0.2));
  @include borderRadius(5px);
  font-weight: 300;
  padding: 5px;
  color: $greyText;

  &.error {
    border: 1px solid $redChart
  }

  &.valid {
    border: 1px solid $greenChart
  }

  &:hover {
    cursor: pointer;
  }
}

.micro-type-container {
  display: inline-block;
  height: 110px;
  width: 100%;

  text-align: center;

  .micro-type-item {
    margin: 0 5px;
    display: inline-block;
    height: 110px;
    width: 80px;
    vertical-align: top;
    cursor: pointer;

    &>span {
      display: inline-block;
      vertical-align: top;
    }

    .icon {
      width: 80px;
      height: 80px;
      background-image: url('../img/micro-type@2x.png');
      background-repeat: no-repeat;
      background-size: 160px 240px;

      &.default {
        background-position: 0 0;
      }

      &.casque {
        background-position: 0 -80px;
      }

      &.pied {
        background-position: 0 -160px;
      }
    }

    .label {
      width: 100%;
      font-size: 11px;
      line-height: 13px;
      height: 30px;
      text-align: center;
      color: $greyUnactive;
    }

    &.active,
    &:hover {
      .icon {
        &.default {
          background-position: -80px 0;
        }

        &.casque {
          background-position: -80px -80px;
        }

        &.pied {
          background-position: -80px -160px;
        }
      }

      .label {
        color: $greenChart;
      }
    }
  }
}

.status-field {
  display: inline-block;
  width: 100%;
  margin: 5px 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 5px 0;
  font-size: 14px;
  font-weight: 500;
  text-align: center;

  &.success {
    color: $greenChart;
    border-color: $greenChart;
  }

  &.error {
    color: $redChart;
    border-color: $redChart;
  }
}

/*** END FORM ***/

/*** TABLE USER PANEL ***/
.user-panel-tab {
  width: 100%;

  tr td {
    vertical-align: top;
    padding: 0 0 20px 0;
  }

  td.tab-label {
    text-align: right;
    font-size: 14px;
    padding: 10px 10px 0 0;
    width: 30%;
    font-weight: 500;
  }

  td.tab-input {
    text-align: left;
    margin-left: 10px;
    width: 70%;
    max-width: 460px;

    .micro-type-container {
      text-align: left;
    }
  }
  
}

.info {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  color: #999999;
  font-style: italic;
  text-align: left;
  padding: 10px 0;
}

/*** END TABLE USER PANEL ***/
